<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Registrazione effettuata</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <h3>Inserimento avvenuto con successo</h3>
      Ecco le tue credenziali per poter visualizzare l'avanzamento della pratica<br/>
      <h5>Username: {{username}}</h5>
      <strong>Annota immediatamente</strong> la Username visualizzata: sarà necessaria per accedere alla visualizzazione dello stato.<br/>
      Non sarà possibile recuperarla successivamente.<br/>
      La password è stata inviata all'indirizzo e-mail fornito.<br/>
    </div>
  </div>
</div>
