{{#section 'head'}}
  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/openpgp/dist/openpgp.min.js"></script>
{{/section}}

<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Inserisci la tua segnalazione</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <strong>Quali devono essere le caratteristiche della segnalazione?</strong><br/>
      La segnalazione deve essere fatta in buona fede  e non deve essere fondata su meri sospetti o voci, deve essere il più possibile circostanziata e offrire il maggior numero di elementi per consentire all’amministrazione di effettuare le dovute verifiche ed attività istruttorie. Non è necessario che il dipendente sia certo dell’effettivo avvenimento dei fatti denunciati e dell’autore degli stessi: si ritiene sufficiente che il dipendente, in base alle proprie conoscenze, ritenga altamente probabile l’essersi verificato di un fatto illecito.<br/>
      Ti ricordiamo che la tutela ti viene garantita solo se la segnalazione è fatta in buona fede e non presenti il profilo di un atto pretestuoso finalizzato alla calunnia e alla diffamazione.<br/><br/>
      <strong>Come segnalare?</strong><br/>
      Questo sistema ti permette di segnalare i fatti e le condotte illecite, tutelando la tua riservatezza, attraverso la compilazione di un “form” distinto in due parti: dati personali e contenuto della segnalazione. Il contenuto della segnalazione, debitamente crittografato con i più avanzati di sicurezza, potrà essere decriptato con apposita chiave  e visionato esclusivamente dal responsabile di prevenzione della corruzione del Comune di Venezia. I dati personali, anch'essi crittografati, verranno separati dal contenuto della segnalazione.
    </div>
    <div class="mdl-card__actions mdl-card--border">

      <form>
        <div class="mdl-grid user">
            {{#each form.user}}
              <div class="mdl-cell mdl-cell--12-col">
                {{> input}}
              </div>
            {{/each}}
          </section>
        </div>

        <div class="mdl-grid msg">
          {{#each form.msg}}
            <div class="mdl-cell mdl-cell--12-col">
              {{> input}}
            </div>
          {{/each}}

          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield full-width">
              <textarea class="mdl-textfield__input" type="text" rows="6" id="whistle" name="whistle"required ></textarea>
              <label class="mdl-textfield__label" for="whistle">Testo della segnalazione</label>
              <span class="mdl-textfield__error">Campo obbligatorio</span>
            </div>
          </div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--file">
              <input class="mdl-textfield__input" id="uploadFile" placeholder="File" type="text" readonly/>
              <div class="mdl-button mdl-button--primary mdl-button--icon mdl-button--file">
                <i class="material-icons">attach_file</i><input type="file" id="uploadBtn" name="files" multiple>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Invia
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{#section 'afterbody'}}
  <script src="/js/utils/crypto.js"></script>
  <script src="/js/form.js"></script>
{{/section}}
