<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Whistleblowing</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <h5>Sistema per le segnalazioni anti corruzione</h5>
      {{{help}}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
          <a href="/send">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--big">
                Segnala
            </button>
          </a>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
          <a href="/login">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--big">
                Visualizza segnalazione
            </button>
          </a>
        </div>
      </div>
    </div>

    <!--
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <img class="comune-logo" src="/img/stemma.gif">
      </button>
    </div>
    -->
  </div>
</div>
