<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Login</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <h5>{{{help}}}</h5>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <form action="{{action}}" method="POST">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" name="username" required autofocus/>
              <label class="mdl-textfield__label" for="username">Username</label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="password" name="password" required/>
              <label class="mdl-textfield__label" for="password">Password</label>
            </div>
          </div>

          {{#if error}}
            <div class="mdl-button">
              <i class="material-icons">error</i> {{error}}
            </div>
          {{/if}}

          <div class="mdl-cell mdl-cell--12-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
              Accedi
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">share</i>
      </button>
    </div>
  </div>
</div>
