{{#section 'head'}}
  <link rel='stylesheet' type='text/css' href='/bower_components/material-modal/dist/css/material-modal.min.css'>
  <link rel='stylesheet' type='text/css' href='/bower_components/strengthjs/src/strength.css'>

  <style>
    .strength_meter{
      width:100%;
    }
  </style>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bcryptjs/dist/bcrypt.min.js"></script>
  <script src="/bower_components/strengthjs/src/strength.min.js"></script>
{{/section}}

<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Password</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Funzione per il cambio password.<br/>
      La password deve contenere almeno:
      <ul>
        <li>9 caratteri</li>
        <li>una lettera minuscola</li>
        <li>una lettera maiuscola</li>
        <li>una cifra</li>
      </ul>
      e deve essere identificata come <strong>"strong"</strong>
    </div>
    <div class="mdl-card__actions mdl-card--border">

      <form>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input type="password" id="password" class="mdl-textfield__input" required/>
              <label class="mdl-textfield__label" for="password">Password</label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input type="password" id="password2" class="mdl-textfield__input" required/>
              <label class="mdl-textfield__label" for="password2">Ridigita la Password</label>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--12-col">
            <button id="generatehash" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent modal__trigger" data-modal="#modal">
              Salva la password
            </button>
          </div>

          <div class="mdl-cell mdl-cell--12-col hide">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label full-width">
              <textarea id="hashpwd" class="mdl-textfield__input" type="text" rows= "2"></textarea>
              <label class="mdl-textfield__label" for="pubkey"></label>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

{{#section 'beforebodyend'}}
  {{> modal}}
{{/section}}

{{#section 'afterbody'}}
  <script src="/js/material-modal/material-modal.js"></script>
  <script>
    var bcrypt = dcodeIO.bcrypt;

    $('#password').strength({
      strengthClass: 'strength',
      strengthMeterClass: 'strength_meter',
      strengthButtonClass: 'hide',
      strengthButtonText: 'mostra password',
      strengthButtonTextToggle: 'nascondi password'
    });

    $('form').submit(function (e) {
      e.preventDefault();

      var pwd = $('#password').val();
      var pwd2 = $('#password2').val();

      console.log($('.strength_meter').children().text());

      if (pwd === pwd2 && $('.strength_meter').children().text() === 'strong') {
        bcrypt.genSalt(10, function(err, salt) {
          bcrypt.hash(pwd, salt, function(err, hash) {
            $.ajax({
              type: "POST",
              url: '/pwd',
              data: { pwd: hash }
            }).success(function(data) {
              $('.title').text('Password');
              $('.msg').text('Password salvata con successo!');
              Modal.create(
                document.getElementById('generatehash'),
                document.getElementById('modal')
              );
            });
          });
        });
      } else {
        $('.title').text('Password');
        $('.msg').text('Le password devono essere uguali e rispettare le regole sopra descritte!');
        Modal.create(
          document.getElementById('generatehash'),
          document.getElementById('modal')
        );
      }

      return false;
    });
  </script>
{{/section}}
